@model List<ResultNotificationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
    string durum = "";
}

<head>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bildirim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Bildirim Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Bildirim ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <table class="table table-head-bg-success table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Bildirim Başlığı</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Okundu İşaretle</th>
                                    <th scope="col">Okunmadı İşaretle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                    if (item.Status) durum = "Okundu"; else durum = "Okunmadı";
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.Description</td>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@durum</td>
                                        <td>
                                            <a href="/Notifications/DeleteNotification/@item.NotificationID" class="btn btn-outline-danger btn-rounded"
                                               onclick="return confirm('@item.Description bu bildirimi silmek istediğinize emin misiniz?')">Sil</a>
                                        </td>
                                        <td><a href="/Notifications/UpdateNotification/@item.NotificationID" class="btn btn-outline-warning btn-rounded">Güncelle</a></td>
                                        <td><a href="/Notifications/NotificationStatusChangeToTrue/@item.NotificationID" class="btn btn-outline-success btn-rounded">Okundu</a></td>
                                        <td><a href="/Notifications/NotificationStatusChangeToFalse/@item.NotificationID" class="btn btn-outline-secondary btn-rounded">Okunmadı</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Notifications/CreateNotification/" class="btn btn-outline-primary">Yeni Bildirim</a>
                        
                        <form method="post" action="/Notifications/DeleteAllNotificationByTrue">
                            <br />
                            <button type="submit" class="btn btn-outline-danger">Okunmuşları SİL</button>
                        </form>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>